
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="row" >
    <div class="col-lg-4">
        <h1>input field</h1>
        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Department</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <select id="department" class="form-control" aria-describedby="basic-addon2"></select>
                

            </div>

        </div>
        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Group</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <select id="grouplist" class="form-control" aria-describedby="basic-addon2"></select>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Items</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <select id="itemslist" class="form-control" aria-describedby="basic-addon2"></select>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Item Qty</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <input style="font-size: large; font-weight: bold;"
                       type="text"
                       id="itemqty"
                       value=""
                       class="form-control"
                       required />
            </div>

        </div>


        





        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Card No</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <input type="text" class="form-control" id="ItemName" placeholder="Name" />

            </div>

        </div>
        <div class="row">
            <div class="col-sm-4" style="margin: 5px;">
                <h5 style="text-align: right;">Item Name</h5>
            </div>
            <div class="col-sm-7 " style="margin: 5px;">
                <input type="text" class="form-control" id="ItemName" placeholder="Name" />

            </div>

        </div>


    </div>
    <div class="col-lg-8">
        <h1>Grid view</h1>



    </div>


</div>

<script>

    $(document).ready(function () {
        

        getDepartmentList();

        getGroupList();


    });


    function getDepartmentList() {

        $.ajax({
            url: '/Department/showGrid',
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Department</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].department_code + '">' + data[i].department_name + '</option>';
                }
                $("#department").html(s);
            },

            error: function (ex) {

            }
        });
    }

    function getGroupList() {

        $.ajax({
            url: '/StockGroup/getUnderList',
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Group</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].NAME + '">' + data[i].NAME + '</option>';
                }
                $("#grouplist").html(s);
            },

            error: function (ex) {

            }
        });
    }

    $('#grouplist').on("change", function () {
        var group = $('#grouplist').val();
        var obj = { group: group };
        //alert(group);
        getItemList(group);

    });

    function getItemList(group) {
        alert(group);
        $.ajax({
      
            url: "/Item/getStockItemListByGroup?group=" + group,
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Group</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].strItemName + '">' + data[i].strItemName + '</option>';
                }
                $("#itemslist").html(s);
            },

            error: function (ex) {

            }
        });
    }


</script>