@*@using DPL.WEB.Models*@
@*@model LoginViewModel*@
@{ Layout = null;}
@{
    ViewBag.Title = "Leave App";
}
<!DOCTYPE html>
<html>

<head>
    <style>



        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: grey;
            height: 100%;
            background-image: url("https://cdn1.vectorstock.com/i/1000x1000/21/10/green-chalkboard-with-colorful-chalk-vector-20792110.jpg");
            /*background-position: center;*/
            background-repeat: no-repeat;
            background-size: cover;
        }  

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
 


/* Change styles for span and cancel button on extra small screens */


</style>
</head>
<body class="hold-transition login-page">

    



    @*<div class="login-box">
        <div class="login-logo">
            @Html.ActionLink("Leave Application", "Login")
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Company Deplaid Laboratories Ltd.</p>
            @using (Html.BeginForm("Login", "Home", new { }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
              
                <input type="text" class="form-control" name="use" placeholder="Enter User ID" /><br />
                <input type="password" class="form-control" name="pass" placeholder="Enter The Password" /><br />
                <input class="form-control success" type="submit" value="Submit" />
            }
          
        </div>
  
    </div>*@

@using (Html.BeginForm("Index", "StockGroup", new { }, System.Web.Mvc.FormMethod.Post, new { @class = "modal-content  ", role = "form" }))
{


         <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
 
           <label><input class="form-control success" type="submit" value="Submit" /></label>

                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
               
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        
        
        
        
        @*<input type="text" class="form-control" name="use" placeholder="Enter User ID" /><br />
        <input type="password" class="form-control" name="pass" placeholder="Enter The Password" /><br />
        <input class="form-control success" type="submit" value="Submit" />*@
        
        
    }

</body>
</html>





